.container {
  background-color: rgb(10, 27, 184);
  max-width: 600px;
  padding: 10px 20px 20px;
  border-radius: 12px;
  margin: 0 auto;
}

.container h1 {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 20px 0;
  color: white;
}

section div,
section p {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
section div {
  margin-top: 20px;
}
section p {
  margin-top: 0;
}

section button {
  background-color: blue;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 5px;
  cursor: pointer;
}
section p {
  padding-bottom: 20px;
}

section > div.closed {
  margin-bottom: 20px;
}


